/* couleurs charte graphique  */
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color);
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    display: flex;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.card {
    transition: 0.4s;
}

.card:hover {
    box-shadow: 4px 4px 10px #1111114c;
}

/****** header  *********/
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    width: 61.09px;
    height: 19px;
    position: relative;
    top: 15px;
}

.top_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}


nav ul {
    gap: 69px;
}

nav li {
    padding: 14px 0;
    border-top: 2px solid transparent;
}

nav li:hover {
    border-color: var(--main-color);
}

nav li:hover a {
    color: var(--main-color);
}



h1 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 8px;
}

/****** section rechercher ***********/
.fa-magnifying-glass {
    color: #fff;
}

.recherche {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

.fa-location-dot {
    color: black;
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 15px 0 0 15px;
}

.recherche__input {
    height: 3em;
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 1.1em;
    border: 1px solid #F2F2F2;
    margin: 0;
    text-align: left;
    width: 160px;
}

.recherche__input:focus {
    outline: none;
}

.recherche__button-grand {
    border-radius: 0 15px 15px 0;
}

.recherche__button-petit {
    display: none;
    border-radius: 15px;
    position: relative;
    right: 9px;
}

.recherche__button {
    height: 3.1em;
    padding: 1em;
    font-weight: 700;
    font-size: 1.1em;
    color: white;
    background-color: #0065FC;
    border: none;

}

.recherche__button:hover {
    cursor: pointer;
}

/****** section filtre ********/
.filtre_container button:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filtre_container {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 35px;
}

.filtre_container h3 {
    margin-right: 1rem;
}
.filtre_container i {
    padding-left: 0.5rem;
}

.filtre_container button {
    padding: 0.8rem;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 1rem;
    background-color: #fff;
    font-weight: 700;

}

.filtre_liens_gauche,
.filtre_liens_droit {
    display: flex;
}

.filtre_liens {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre_liens button {
    display: flex;
    width: 100%;
    align-items: center;
}

.filtre_container i {
    margin-right: 0.7rem;
    font-size: 1.2rem;
}

/******* section info *********/
.informations {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.icone_info {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 0.5rem;
    box-sizing: border-box;
}


/******* main  ***********/
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

.card img {
    object-fit: cover;

}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements,
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    height: 90%;
    line-height: 1.5rem;
}

.hebergements .section-title {
    margin-bottom: 33px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 29%;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.hebergements-cards .card-title {
    margin-top: 8px;
}

.hebergements-cards .card-content {
    padding-left: 8px;
}

.afficher_plus {
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}
.afficher_plus a {
    margin-left: 4%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*******section activités *************/

.activites {
    margin: 2em 1.7em 0 1.7em;
}
.activites h2{
    margin-left: 0.5em;
}

.activite-liste {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.activite-container {
    width: 22%;
    height: auto;
}

.activite-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #DADADA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    padding: 0;
}

.activite-card img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.activite-card h3 {
    height: 45px;
    padding-left: 10px;
    display: flex;
    align-items: center;

}

/***** pied de page  *******/
footer {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 65px;
}

footer div {
    width: 33.33%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}

footer h2 {

    font-size: 18px;
    font-weight: 700;
}

footer div,
footer ul {
    display: flex;
    flex-direction: column;
}

footer li {
    padding-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {

    /* filtres  */
    .filtre_container {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtre_container button {
        margin-right: 0.7rem;
    }

    .filtre_liens {
        margin-top: 1rem;
    }

    /* hébergements  */
    .hebergements {
        height: 611px;
    }
    
    .activite-card img {
        height: 200px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    /* populaires  */
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /* activités  */
    .activites h2 {
        margin-left: 0;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
    .main-container {
        padding: 0;

    }

    /* header mobile  */
    .logo {
        position: initial;
    }

    header {
        padding: 0 30px;

    }

    .top_page {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        width: 100vw;
        text-align: center;
        gap: 0;
    }

    .logo {
        padding: 30px 0;
    }

    nav ul li {
        width: 50%;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
    }

    nav li:hover {
        border-color: var(--main-color);
    }

    /* section rechercher mobile  */
    .recherche {
        width: 100%;
        margin: 2em auto;
    }

    .recherche__input {
        width: 110%;
        text-align: left;
    }

    .recherche__button-petit {
        display: inline-block;
    }

    .recherche__button-grand {
        display: none;
    }

    .recherche__button input {
        border-radius: 15px;
    }

    /* filtres mobile  */
    .filtre_container button {
        padding: 14px 4px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        margin-right: 1rem;

    }

    .filtre_container {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
    }

    .filtre_liens {
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        gap: 1rem;
        margin-bottom: 1rem;
        /* height: 200px; */

    }


    .filtre_liens button {
        display: flex;
        align-items: center;
        width: 48%;
        text-align: left;
        margin: 0;
        max-height: 52px;
        font-size: 0.7rem ;

    }

    .filtre_liens button i {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .filtre_liens_gauche {
        display: flex;
        justify-content: space-between;
        width: 100%;


    }

    .filtre_liens_droit {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    /* hébergements et populaire mobile  */
    section.populaires {
        margin-top: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    /* populaire mobile  */
    .card {
        padding: 0;
    }

    .populaires-cards {
        flex-direction: column;
        align-items: flex-start;
    }

    .populaires-cards .card, .populaires-cards a {
        width: 100%;
    }

    .populaires-cards img {
        width: 30%;
        padding: 5px;
    }

    /* hébergements mobile  */

    .hebergements {
        height: 100%;
    }

    .hebergements-cards {
        gap: 15px;
    }

    .hebergements-cards .card {
        width: 100%;
        padding: 5px;
    }

    .hebergements-cards img {
        height: 124px;
        
    }

    .hebergements-cards {
        flex-direction: column;
        align-items: center;
    }

    .hebergements {
        background-color: #fff;
    }

    .flex_order_1 {
        order: 1;
    }

    .flex_order_2 {
        order: 2;
    }

    .flex_order_3 {
        order: 3;
    }

    .flex_order_4 {
        order: 4;
    }

    .flex_order_5 {
        order: 5;
    }

    .afficher_plus {
        order: 6;
    }
    .afficher_plus a {
        margin-left: 0;
    }

    /* activités mobile  */
    .activites {
        margin: 2em 1em 0 1em;
    }
    .activites h2 {
        margin-left: 15px;
        margin-top: 70px;
    }

    .activites h3 {
        height: 55px;
    }
    .activites img {
        height: 150px;
    }
    .activite-liste {
        flex-direction: column;
        align-items: center;
        gap: 0.9rem;
    }

    .activite-container {
        width: 96%;
    }

    /* footer mobile  */
    footer {
        flex-direction: column;

    }

    footer h2 {
        width: 80vw;
    }

    footer div {
        padding: 1.9em 0 3.1em 1.9em;
    }

    footer ul {
        width: 80vw;
    }
    footer div {
        padding-top: 25px;
        padding-bottom: 25px;
    }

}